@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;

    font-family: 'Tilt Neon', sans-serif;

 
}

body{
    margin: 0px;
}

p{
    color: blueviolet;
}

h1{
    color: blue;
}



ul{
    display: inline-block;
}

li{
    position: relative;
    list-style: none;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin: 0px 7px;
    background-color: antiquewhite;
    width: 70px;
    padding: 5px;

    
    transition-property: background-color, width;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    
}

li:hover::after, li:hover::before{
   width: 100%;

}

li::after, li::before{
    content: "";
    height: 5px;
    width: 0%;
    display: block;
    background-color: rgb(39, 43, 253);
    position: absolute;

    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
  

}

li::after{
    left: 0px;
}

li::before{
    right: 0px;
    top: 0px;
}


li:hover{
    background-color: blueviolet;
    color: antiquewhite;
    width: 90px;
    cursor: pointer;
}




