@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;

    font-family: 'Tilt Neon', sans-serif;

 
}

body{
    margin: 0px;
}

.nav-list{
    background-color: #f72500;
    font-size: 0px;

}

.nav-list li{
    list-style-type: none;
    font-size: 16px;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: white;
   padding: 10px;
    
}


.list-item{
    position: relative;
    display: inline-block;
    
   

}

.sub-nav-list{
    display: none;
    padding: 0px;
}

.sub-list-item{
    padding: 10px;
}

.sub-list-item a{
text-decoration: none;
color: white;
padding: 10px;
}

.sub-list-item:hover{
    background-color: #a02a16;

}

.list-item:hover {
    background-color: #a02a16;
}

.list-item:hover .sub-nav-list{
    display: block;
    position: absolute;
  width: 100%;
    background-color: #f72500;

}

